<div>
    <div class="panel-heading header">
        <div class="row">
            <div>
                <cabecalho userlogado="userLogado" mapa="mapa"></cabecalho>
            </div>
        </div>
    </div>

    <div class="panel-heading conteudo" style="border-top: solid 5px #000;">
        <span class="label label-success btn" data-toggle="modal" data-target="#showdatamap"
              ng-click="showdadosmapa()">{{mapa.nome}}</span>
        <div class="row">
            <div class="col-md-2  centralize" style="text-align: center">
                <button type="button" class="btn btn-success " ng-click="setmapainicio()" style="width: 10em; margin-bottom: 0.5em;">Mapas</button>
                <button class="btn btn-warning btn-lg" data-toggle="modal" data-target="#addmapa" ng-click="addmapa()">
                    Adicionar mapa
                </button>
                <div ng-repeat="map in arvoremapas">
                    <dropmapa mapa="map" ></dropmapa>
                </div>
            </div>
            <div class="col-md-8">
                <mapa imagem="mapa.img" ></mapa>
            </div>
            <div class="col-md-2  centralize">
                <div class="row">
                    <div class="col-md-6">
                        <h2 style="margin-bottom: 0.5em"><span class="label label-success">Estoque</span></h2>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-warning" data-toggle="modal" data-target="#caddisp">Cad. disp.</button>
                    </div>
                    <div>
                        <button class="btn btn-warning" style="margin-top: 0.3em;" data-toggle="modal" data-target="#cadmodel">Cad. mod.</button>
                    </div>
                </div>
                <listaestoque dispsemestoque="alldisps"></listaestoque>
            </div>
        </div>
    </div>
</div>

<!--modal para cadastrar dispositivo-->
<div class="modal fade" id="caddisp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <caddisp></caddisp>
</div><!-- /.modal -->

<!--modal para cadastrar usuarios-->
<div class="modal fade" id="cadmodel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <cadmodel></cadmodel>
</div><!-- /.modal -->