<cabecalho userlogado="userLogado" mapa="mapa"></cabecalho>
<main class="conteudo">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                    <span class="label mapaName" data-toggle="modal" data-target="#showdatamap"
                          ng-click="showdadosmapa()">{{mapa.nome}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="sidemenu">
                    <button class="item principal" ng-click="setmapainicio()">Mapas</button>
                    <button class="item sub" data-toggle="modal" data-target="#addmapa" ng-click="addmapa()">
                        Adicionar Mapa
                    </button>
                    <div ng-repeat="map in arvoremapas">
                        <dropmapa mapa="map"></dropmapa>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <mapa imagem="mapa.img"></mapa>
            </div>
            <div class="col-md-2">
                <div class="sidemenu">
                    <span class="item principal">Estoque</span>
                    <button class="item sub" data-toggle="modal" data-target="#caddisp">Adicionar dispositivo</button>
                    <button class="item sub" data-toggle="modal" data-target="#cadmodel">Adicionar modelo</button>
                    <listaestoque dispsemestoque="alldisps"></listaestoque>
                </div>
            </div>
        </div>
    </div>
</main>
<!--modal para cadastrar dispositivo-->
<div class="modal fade" id="caddisp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <caddisp></caddisp>
</div>
<!-- /.modal -->
<!--modal para cadastrar usuarios-->
<div class="modal fade" id="cadmodel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <cadmodel></cadmodel>
</div>
<!-- /.modal -->