<div>
    <div class="panel-heading table-bordered color-border" style="margin-top: 2em">
        <div class="row">
            <div>
                <cabecalho userlogado="userLogado" mapa="mapa"></cabecalho>
            </div>
        </div>
    </div>

    <div class="panel-heading">
        <div class="row">
            <div class="col-md-2 table-bordered tam-content color-border centralize" style="text-align: center">
                <h2 style="margin-bottom: 0.5em"><span class="label label-success">Mapas</span></h2>
                <div ng-repeat="map in mapas">
                    <dropmapa mapa="map" ></dropmapa>
                </div>
            </div>
            <div class="col-md-8 table-bordered tam-content color-border">
                <mapa imagem="mapa.img" ></mapa>
            </div>
            <div class="col-md-2 table-bordered tam-content color-border centralize">
                <div class="row">
                    <div class="col-md-6">
                        <h2 style="margin-bottom: 0.5em"><span class="label label-success">Estoque</span></h2>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-warning" data-toggle="modal" data-target="#caddisp">Cad. disp.</button>
                    </div>
                    <div>
                        <button class="btn btn-warning" style="margin-top: 0.3em;" data-toggle="modal" data-target="#cadmodel">Cad. mod.</button>
                    </div>
                </div>
                <listaestoque dispsemestoque="alldisps"></listaestoque>
            </div>
        </div>
    </div>
</div>

<!--modal para cadastrar dispositivo-->
<div class="modal fade" id="caddisp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <caddisp></caddisp>
</div><!-- /.modal -->

<!--modal para cadastrar usuarios-->
<div class="modal fade" id="cadmodel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <cadmodel></cadmodel>
</div><!-- /.modal -->