<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="logotipo"><img src="../img/logo.png"/></div>
                <div class="usuario">
                    <figure class="foto-perfil">
                        <img src="{{userlogado.imagem}}" class="img-circle"/>
                    </figure>
                    <nav>
                        <ul>
                            <li>
                                <button class="link nome" data-toggle="modal" data-target="#showdatauser"
                                        ng-click="showuserlogado()">{{userlogado.nome}}
                                </button>
                            </li>
                            <li>
                                <button class="link" data-toggle="modal" data-target="#showdatauser"
                                        ng-click="showuserlogado()">Editar Perfil
                                </button>
                            </li>
                            <li>
                                <button class="link" data-toggle="modal" data-target="#caduser"> Cadastrar Usuario
                                </button>
                            </li>
                            <li>
                                <button type="button" class="link dropdown-toggle" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                    Colaboradores <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li ng-repeat="cad in cadastrados">
                                        <a class="btn" ng-click="showuser(cad)" data-toggle="modal"
                                           data-target="#viscolab">{{cad.nome}}</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4 text-center">
                <form class="navbar-search">
                    <input type="text" class="search-query" placeholder="Busca dispositivo"
                           ng-model="buscando">
                <span class="glyphicon glyphicon-search btn" aria-hidden="true"
                      ng-click="buscandoesse()"></span>
                </form>
            </div>
        </div>
    </div>
</header>

<div class="modal fade" id="showdatauser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <viscolab user="userlogado"></viscolab>
</div>

<!--modal que mostra dados do mapa-->
<div class="modal fade" id="showdatamap" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <showdatamap mapa="mapa"></showdatamap>
</div><!-- /.modal -->

<!--modal para adicionar mapa-->
<div class="modal fade" id="addmapa" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <addmapa></addmapa>
</div>

<!--modal para cadastrar usuarios-->
<div class="modal fade" id="caduser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <caduser></caduser>
</div><!-- /.modal -->

<!--modal para visualizar colaboradores-->
<div class="modal fade" id="viscolab" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <viscolab user="visuser"></viscolab>
</div><!-- /.modal -->