<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body">
            <div>
                <div class="row">
                    <div  >
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">Cadastro de dispositivo.</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="table table-user-information">
                                            <tbody>
                                            <tr>
                                                <td>Patrimonio:</td>
                                                <td>
                                                    <input ng-model="disp.identificador">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Modelo:</td>
                                                <td>
                                                    <select ng-model="disp.modelo" ng-change="setaMarcaModeloTipo()">
                                                        <option value="">Selecione um modelo</option>
                                                        <option ng-repeat="model in modelos" value="{{model}}">{{model.apresentacao}}</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Tipo:</td>
                                                <td>{{conferencia.tipo}}</td>
                                            </tr>
                                            <tr>
                                                <td>Marca:</td>
                                                <td>{{conferencia.marca}}</td>
                                            </tr>
                                            <tr>
                                                <td>Modelo:</td>
                                                <td>{{conferencia.modelo}}</td>
                                            </tr>
                                            <tr>
                                                <td>SerialNumber:</td>
                                                <td>
                                                    <input ng-model="disp.serialnumber">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Situacao:</td>
                                                <td>
                                                    <select ng-model="disp.situacao">
                                                        <option value="">Selecione um tipo</option>
                                                        <option ng-repeat="situacao in situacoes" value="{{situacao}}">{{situacao.nome}}</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="salvar" ng-click="cadastrarDispositivo()">Salvar</button>
            <button type="button" class="cancelar" data-dismiss="modal">Cancelar</button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->