<div>
    <button type="button" class="item principal" ng-click="mostra()">
        {{mapa.nome}}
        <span class="caret"></span>
        <div class="glyphicon glyphicon-cog" ng-click="configmapa(mapa.nome)"></div>
    </button>
    <div ng-show="mapa.atual">
        <ul ng-if="filho" class="ulnobullet">
            <li ng-repeat="disp in mapa.disps">
                <a class="item" ng-click="showdisp(disp)">{{disp.identificador}}</a>
                <span class="glyphicon glyphicon-cog" aria-hidden="true" ng-click="pegadispmapa(disp)"></span>
            </li>
        </ul>
        <div ng-if="pai">
            <div ng-repeat="filho in mapa.filhos">
                <dropmapa mapa="filho"></dropmapa>
            </div>
        </div>
    </div>
</div>