<div>
    <div style="margin-bottom: 0.2em">
        <button type="button" class="btn btn-warning btn-lg dropdown-toggle" ng-click="mostrameusdisps()" style="width: 10em">
            {{mapa.nome}} <span class="caret"></span><div class="glyphicon glyphicon-cog" style="margin-left: 0.5em; color: navy" ng-click="configmapa(mapa.nome)"></div>
        </button>
        <div ng-show="mapa.atual">
            <ul class="ulnobullet">
                <li ng-repeat="disp in mapa.disps" style="margin-bottom: 0.3em">
                    <a class="btn" ng-click="showdisp(disp)">{{disp.nome}}</a>
                    <span class="glyphicon glyphicon-cog btn btn-warning" aria-hidden="true" ng-click="pegadispmapa(disp)"></span>
                </li>
            </ul>
        </div>
    </div>
</div>